.navbar
	position: fixed
	left: 0
	top: 0
	background-color: #fff	
	width: 100vw
	z-index: 999
	box-shadow: 0 0 10px rgba(0,0,0,0.5)
	&-wrap
		display: flex
		align-items: center
		justify-content: space-around
		min-height: 60px
	&__item 
		+semibold
		font-size: 20px
		text-decoration: none
		color: #393939
		transition: 0.2s
	&__item:hover
		color: #ce3669
		text-shadow: 2px 2px 5px rgba(0,0,0,0.3),

@media (max-width: 1024px)
	.navbar
		&__item
			font-size: 16px

@media (max-width: 568px)
	.navbar
		&__item
			font-size: 12px